# Basic Condition

In [1]:
1 > 2

False

In [2]:
2 > 1

True

In [3]:
'Erfan' == 'erfan'

False

In [4]:
'Erfan' == 'Erfan'

True

In [8]:
6 != 9

True

In [9]:
"Erfan" > "Ali"

True

In [10]:
2 == '2'

False

In [11]:
4 > 3 and 9 >= 9

True

In [13]:
4 > 3 and 9 > 9

False

In [14]:
4 > 3 and "Erfan" == "Erfan" and 23 < 20

False

In [16]:
4 > 3 or "Erfan" == "Erfan" and 23 < 20

True

In [15]:
4 > 3 and "Erfan" == "Erfan" and 23 > 20

True

In [23]:
Name = input("Enter Name: ")
Age = int(input("Enter Age: "))
Grade = int(input("PHD Grade: "))
Mental_Score = int(input("Mental Score: "))

print((Name[0].lower() == "b" and Age <= 22) or (Grade >= 18 and Mental_Score >= 75))

Enter Name:  Bita
Enter Age:  20
PHD Grade:  20
Mental Score:  100

True

In [24]:
Name = input("Enter Name: ")
Age = int(input("Enter Age: "))
Grade = int(input("PHD Grade: "))
Mental_Score = int(input("Mental Score: "))

print((Name[0].lower() == "b" and Age <= 22) or (Grade >= 18 and Mental_Score >= 75))

Enter Name:  Erfan
Enter Age:  24
PHD Grade:  20
Mental Score:  73

False

In [25]:
Name = input("Enter Name: ")
Age = int(input("Enter Age: "))
Grade = int(input("PHD Grade: "))
Mental_Score = int(input("Mental Score: "))

print((Name[0].lower() == "b" and Age <= 22) or (Grade >= 18 and Mental_Score >= 75))

Enter Name:  Erfan
Enter Age:  24
PHD Grade:  20
Mental Score:  84

True

In [26]:
Age_you = int(input("Enetr yor age : "))
18 < Age_you < 24

Enetr yor age :  15

False

# Condition

In [28]:
if True:
    print("Oh that was True")
    print("still it is true")
print("Continue Progress")

Oh that was True
still it is true
Continue Progress

In [29]:
if False:
    print("Oh that was True")
    print("still it is true")
print("Continue Progress")

Continue Progress

In [30]:
Age

24

In [32]:
if Age >= 18:
    print("You can play this game")

You can play this game

In [33]:
Age = 17

In [35]:
if Age >= 18:
    print("You can play this game")
else:
    print("You can't play this game")

You can't play this game

In [44]:
print("Wellcome to BMI\n")
Weight = float(input("Enter your Weight: "))
Height = float(input("Enter your Height (Ex 1.73): "))
print(f"Your BMI = {Weight/(Height**2):1.2f}")

Wellcome to BMI

Enter your Weight:  76
Enter your Height (Ex 1.73):  1.79

Your BMI = 23.72

In [55]:
Kharid = 55000

if Kharid > 50000:
    print(f"{Kharid - (20 * Kharid) / 100:1.0f}")
elif 50000 >= Kharid >= 20000:
    print(f"{Kharid - (10 * Kharid) / 100:1.0}")
else:
    print(int(Kharid))

44000

## Loops < for >

In [2]:
ListOfFood = ["Pizza", "Pasta", "Chicken"]
for i in ListOfFood:
    print(i)

Pizza
Pasta
Chicken

In [7]:
for i in range(0,41):
    if(i % 2 == 0):
        print(i)
    else:
        print(f"{i} is odd")

0
1 is odd
2
3 is odd
4
5 is odd
6
7 is odd
8
9 is odd
10
11 is odd
12
13 is odd
14
15 is odd
16
17 is odd
18
19 is odd
20
21 is odd
22
23 is odd
24
25 is odd
26
27 is odd
28
29 is odd
30
31 is odd
32
33 is odd
34
35 is odd
36
37 is odd
38
39 is odd
40

In [8]:
for c in "Hey What's up dude?":
    print(c)

H
e
y

W
h
a
t
'
s

u
p

d
u
d
e
?

In [9]:
my_tuple=(1, 2, 'Erfan', 'Bita', True)
for i in my_tuple:
    print(i)

1
2
Erfan
Bita
True

In [13]:
Name_Age = (("Erfan", 24), ("Bita",20), ("Reza", 32))
for name, age in Name_Age:
    print(f"Name : {name} / Age: {age}")

Name : Erfan / Age: 24
Name : Bita / Age: 20
Name : Reza / Age: 32

In [16]:
Dic_People_Book = {
    'Erfan': ["Harry Potter 1", "Harry Potter 2"],
    'Bita' : ["My Darling 1", "up times age", "Seven"],
}

for Pb in Dic_People_Book:
    print(f"{Pb} have = {Dic_People_Book[Pb]}")

Erfan have = ['Harry Potter 1', 'Harry Potter 2']
Bita have = ['My Darling 1', 'up times age', 'Seven']

In [18]:
Dic_People_Book = {
    'Erfan': ["Harry Potter 1", "Harry Potter 2"],
    'Bita' : ["My Darling 1", "up times age", "Seven"],
}

for person, book in Dic_People_Book.items():
    print(f"{person} have = {book}")

Erfan have = ['Harry Potter 1', 'Harry Potter 2']
Bita have = ['My Darling 1', 'up times age', 'Seven']

In [23]:
n = int(input("Times app run : "))
x = int(input("Number : "))
for i in range(0,n):
    if(x % 2 != 0):
        x *= 2
        x -= 1
    else:
        x = x / 2

print(int(x))

Times app run :  5
Number :  10

65

## Loop < while >

In [4]:
a = 0 
while a <= 5:
    print(f"a is : {a}")
    a += 1
print(f"Finish while now a is {a}")

a is : 0
a is : 1
a is : 2
a is : 3
a is : 4
a is : 5
Finish while now a is 6

In [7]:
a = 0
while a <= 20:
    print(a)
    a += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [15]:
n = int(input("Give me a number : \n"))
while True:
    if(n == 1): 
        break
    elif (n % 2 == 0):
        n = n / 2
    else:
        n *= 3
        n += 1
    print(int(n))

Give me a number :
 50

25
76
38
19
58
29
88
44
22
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

In [1]:
for a in [1,2,3,4,5,6,7,8,9,10]:
    if a == 5:
        break
    print(a)

1
2
3
4

In [2]:
for a in [1,2,3,4,5,6,7,8,9,10]:
    print(a)
    if a == 5:
        break

1
2
3
4
5

In [5]:
for a in [1,2,3,4,5,6,7,8,9,10]:
    if a == 5:
        print(f"We order to continu at {a}")
        continue
    print(a)

1
2
3
4
We order to continu at 5
6
7
8
9
10

In [7]:
n = 0

while n < 20:
    n += 1
    if n % 3 == 0 and n % 5 != 0:
        print("Hop")
        continue
    elif n % 5 == 0 and n %5 != 0:
        print("Hoop")
        continue
    elif n % 3 == 0 and n % 5 == 0:
        print("HiHop")
        continue
    print(n)

1
2
Hop
4
5
Hop
7
8
Hop
10
11
Hop
13
14
HiHop
16
17
Hop
19
20

In [10]:
n = 0

while n < 20:
    n += 1
    if n % 3 == 0 and n % 5 == 0:
        print("HiHop")
        continue
    elif n % 3 == 0:
        print("Hop")
        continue
    elif n % 5 == 0:
        print("Hoop")
        continue
    print(n)

1
2
Hop
4
Hoop
Hop
7
8
Hop
Hoop
11
Hop
13
14
HiHop
16
17
Hop
19
Hoop

In [1]:
My_First_List = [1,2,3,4,5,6,7,8,9,10]
Secend_list = []
for i  in My_First_List:
    Secend_list.append(i * 2)
print(Secend_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [2]:
My_First_List2 = [1,2,3,4,5,6,7,8,9,10]
Secend_list2 = [x * 2 for x in My_First_List2]
print(Secend_list2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
a = 5
print("Fard" if a % 2 != 0 else "Zoog")

Fard

In [1]:
All_Number = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
Zoog_Number = [n for n in All_Number if n % 2 == 0]
Zoog_Number

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [2]:
Names = ["Erfan", "Ali", "Reza"]
Numbers = [x for x in Names]
print(Names)

['Erfan', 'Ali', 'Reza']

In [6]:
All_Number2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
Zoog_Fard = ['Zog' if n%2 == 0 else 'Fard' for n in All_Number2]
print(Zoog_Fard)

['Fard', 'Zog', 'Fard', 'Zog', 'Fard', 'Zog', 'Fard', 'Zog', 'Fard', 'Zog', 'Fard', 'Zog', 'Fard', 'Zog', 'Fard', 'Zog', 'Fard', 'Zog', 'Fard', 'Zog']

In [7]:
Grade_Of_People = [12,14,18,6,17,4,4,8,19,20,14,12,11,14,18,11,14,17,16,17,20]
Pass_Or_Fail = ['Pass' if n >= 18 else 'Fail' for n in Grade_Of_People]
print(Pass_Or_Fail)

['Fail', 'Fail', 'Pass', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Pass', 'Pass', 'Fail', 'Fail', 'Fail', 'Fail', 'Pass', 'Fail', 'Fail', 'Fail', 'Fail', 'Fail', 'Pass']

In [10]:
My_Hope_List = ["Hop" if n % 5 == 0 else n for n in range(1,21)]
print(My_Hope_List)

[1, 2, 3, 4, 'Hop', 6, 7, 8, 9, 'Hop', 11, 12, 13, 14, 'Hop', 16, 17, 18, 19, 'Hop']

In [15]:
for i in range(6):
    for j in range(6):
        print(f'{i} * {j} = {i * j}')

0 * 0 = 0
0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
0 * 5 = 0
1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [18]:
for i in range(6):
    for j in range(6):
        print(i*j,end="\t")
    print(" ")

0	0	0	0	0	0
0	1	2	3	4	5
0	2	4	6	8	10
0	3	6	9	12	15
0	4	8	12	16	20
0	5	10	15	20	25

In [20]:
for i in range(11):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [21]:
for i in range(5,11):
    print(i, end=" ")

5 6 7 8 9 10

In [22]:
for i in range(1,21,2):
    print(i, end=" ")

1 3 5 7 9 11 13 15 17 19

In [23]:
for i in range(0,21,2):
    print(i, end=" ")

0 2 4 6 8 10 12 14 16 18 20

In [25]:
E = [1,'Erfan', 20]
for i, j in enumerate(E):
    print(f'{i} => {j}')

0 => 1
1 => Erfan
2 => 20

In [26]:
MyName = "Erfan"
for i,j in enumerate(MyName):
    print(f'{i} => {j}')

0 => E
1 => r
2 => f
3 => a
4 => n

In [37]:
Name_Of_Programmer = ["Erfan", "Bita", "Hasti","Amir"]
LastName_Of_Programmer = ["Najafi", "Najafi", "Archangi", "Azad"]
My_A = zip(Name_Of_Programmer, LastName_Of_Programmer)
print(My_A)
for x in zip(Name_Of_Programmer, LastName_Of_Programmer):
    print(x)

<zip object at 0x0000021D84556B00>
('Erfan', 'Najafi')
('Bita', 'Najafi')
('Hasti', 'Archangi')
('Amir', 'Azad')

In [38]:
Name_Of_Programmer = ["Erfan", "Bita", "Hasti","Amir"]
LastName_Of_Programmer = ["Najafi", "Najafi", "Archangi", "Azad"]
for x in zip(Name_Of_Programmer, LastName_Of_Programmer):
    print(f'Name : {x[0]} / LastName : {x[1]}')

Name : Erfan / LastName : Najafi
Name : Bita / LastName : Najafi
Name : Hasti / LastName : Archangi
Name : Amir / LastName : Azad

In [52]:
Name_Of_Programmer = ["Erfan", "Bita", "Hasti","Amir"]
LastName_Of_Programmer = ["Najafi", "Najafi", "Archangi", "Azad"]
Age_Of_Programmer = [24,20,18,17]
for x in zip(Name_Of_Programmer, LastName_Of_Programmer, Age_Of_Programmer):
    print(f'Name : {x[0]} / LastName : {x[1]} / Age : {x[2]}')

Name : Erfan / LastName : Najafi / Age : 24
Name : Bita / LastName : Najafi / Age : 20
Name : Hasti / LastName : Archangi / Age : 18
Name : Amir / LastName : Azad / Age : 17

In [53]:
Name_Of_Programmer

['Erfan', 'Bita', 'Hasti', 'Amir']

In [54]:
print("Erfan" in Name_Of_Programmer)

True

In [55]:
LastName_Of_Programmer

['Najafi', 'Najafi', 'Archangi', 'Azad']

In [56]:
print("Erfan" in LastName_Of_Programmer)

False

In [57]:
Give_Name = input("Enter Your Name: ")
if Give_Name in Name_Of_Programmer:
    print(f'Name {Give_Name} is exist')
else:
    Name_Of_Programmer.append(Give_Name)
    print(f'Name {Give_Name} is add to your list\nYour list has {len(Name_Of_Programmer)} member')

Enter Your Name:  Reza

Name Reza is add to your list
Your list has 5 member

In [58]:
Name_Of_Programmer

['Erfan', 'Bita', 'Hasti', 'Amir', 'Reza']

In [59]:
Name_Of_Programmer.remove('Reza')

In [60]:
Name_Of_Programmer

['Erfan', 'Bita', 'Hasti', 'Amir']

In [70]:
Name_Of_New = ["Erfan", "Ali", "Ahmad", "Hossein"]
People = {
    "Erfan" : {"Age": 24, "Height": 179},
    "Ali" : {"Age": 17, "Height" : 185},
    "Hossein" : {"Age": 31, "Height" : 162}
}

for Names in Name_Of_New:
    if Names in People:
        age, height = People[Names].values()
        print(f"{Names} => Age : {age} / Height : {height}")

Erfan => Age : 24 / Height : 179
Ali => Age : 17 / Height : 185
Hossein => Age : 31 / Height : 162

In [77]:
Name_Of_New = ["Erfan", "Ali", "Ahmad", "Hossein"]
People = {
    "Erfan" : {"Age": 24, "Height": 179},
    "Ali" : {"Age": 17, "Height" : 185},
    "Hossein" : {"Age": 31, "Height" : 162}
}

for Name in Name_Of_New:
    if Name in People:
        print(f"{Name} => Age : {People[Name]["Age"]} / Height : {People[Name]["Height"]}")
    else:
        print(f"---------------------------------------We don't have name {Name} try => People.Add()")

Erfan => Age : 24 / Height : 179
Ali => Age : 17 / Height : 185
---------------------------------------We don't have name Ahmad try => People.Add()
Hossein => Age : 31 / Height : 162

## Random

In [92]:
from random import randint
javab = randint(0,6)
i = int(input("Guess the number : "))
if i == javab:
    print("WOW....")
else:
    print(f'No! My number is {javab}')

Guess the number :  2

WOW....